---
const { blog } = Astro.props;
---

<div class="p-4 space-y-2">
  {
    blog.map((post) => (
      <a href={`/posts/${post.id}`} class="link link-primary flex gap-4">
        <div class="w-64">{post.id}</div>
        <div class="w-52">{post.data.date}</div>
        <div>{post.data.title}</div>
      </a>
    ))
  }
</div>
